.body {
    margin: 0;
    font-family: Arial,  sans-serif;

}
.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background: #fff;
    border-bottom: 2px solid #00a3d9;
}